/*

!/DependencyInjection
!/Resources
!/Security
!/Tests
/Tests/Kernel/var
!/Token

!/.github
!/.scrutinizer.yml
!/.gitignore
!/.gitattributes
!/composer.json
!/*.dist

!/AtlanceJwtAuthBundle.php
!/LICENSE.md
!/README.md
!/TODO.md
