parameters:
    level: max
    bootstrapFiles:
        - ../vendor/autoload.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    tmpDir: ../var/analyze
    fileExtensions:
        - php
    paths:
        - ../src/Security
    ignoreErrors:
    excludePaths:
        - ../vendor
        - ../var

